{% extends "base.html" %}
{% block title %}The Filion Lab | The Grand Locus{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" media="screen"
    href="/static/css/gal.css" />

  <script>$(document).ready(white_dots)</script>
  <meta name="description" content="The Filion team - bioinformatics/molbio lab in Barcelona" />
{% endblock %}
{% block slogan %}Genome Architecture Lab{% endblock %}
{% block social_networks %}{% endblock %}
{% block section %}
        <div id="section" title="#thelab"></div>
{% endblock %}
