{% extends "ojc.html" %}
{% block title %}{{page_title}} | The Grand Locus{% endblock %}
{% block body %}
  
  <br/>
  <br/>
  {% block thread_head %}{% endblock %}

  {% for usercontent in usercontents %}
    {% if usercontent.is_crocodoc_iframe %}
       <br/>
       <br/>
      {{usercontent.content|safe}}
       <br/>
       <br/>
    {% else %}
      <br/>
      <span class="author_name">{{usercontent.display_name}}</span>
      | {{usercontent.pubdate|date:"Y-m-d"}} 
      <blockquote class="user_comment">{{usercontent.content|escape}}</blockquote>
    {% endif %}
  {% endfor %}

  <br/>
  Leave a comment:
  <form id="leave_a_comment" action="/threads/newusercontent" method="post">
    <input type="hidden" name="path" value="{{path}}">
    <div><textarea class="comment_box" name="content" rows="4"></textarea></div>
    <div><input type="submit" value="Submit"></div>
  </form>

  {% if user_is_admin %}
    <br/>
    Upload a Crocodoc iframe:
    <form action="/threads/newusercontent" method="post">
      <input type="hidden" name="path" value="{{path}}">
      <input type="hidden" name="crocodoc" value="yes">
      <div>
         <textarea class="comment_box" name="content" rows="2"></textarea>
      </div>
      <div><input type="submit" value="Submit"></div>
    </form>
  {% else %}
    <br/>
    To upload a document, please contact the
    <script>print_mail('administrator')</script>.
  {% endif %}

{% endblock %}
