.listing {
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}

.hand_pointer:hover {
  cursor: pointer;
}

#new td, .input {
  width: 100%;
}

#seq, #comments, {
  height: 40px;
}

ul.errorlist, .error {
  list-style-type: none;
  text-align: center;
  color: #f00;
  font-weight: bold;
}

#graph_container {
  width:320px;
  margin-left: auto;
  margin-right: auto;
}

#feature_table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#newfeature_table {
  width: 185px;
  margin-left: auto;
  margin-right: auto;
}

#full_sequence {
  width: 100%;
  word-wrap: break-word;
  font-size: 12px;
  font-family: monospace;
}

.ftype_gene {
  color: white;
  background-color: RoyalBlue;
}

.ftype_promoter {
  color: white;
  background-color: Brown;
}

.ftype_origin {
  color: white;
  background-color: DarkSeaGreen;
}

.ftype_other {
  color: white;
  background-color: Indigo;
}

.edit {
  display: none;
}
