<!DOCTYPE html>
  <head>

    <!-- meta description tag -->
    {% block description %}
    <meta name="description"
        content="The research engine of the Filion lab">
    {% endblock %}

    <title>{% block title %}The Grand Locus{% endblock %}</title>

    <!-- jQuery and locus-wide js -->
    <script type="text/javascript"
        src="/thegrandlocus_theme/static/js/jquery.min.js"></script>
    <script type="text/javascript"
        src="/thegrandlocus_theme/static/js/locus.js"></script>
    <script type="text/javascript"
        src="/thegrandlocus_theme/static/js/jquery.qtip.min.js"></script>

    <!-- locus-wide css -->
    <link rel="stylesheet" type="text/css" media="screen"
        href="/thegrandlocus_theme/static/css/screen.css" />
    <link rel="stylesheet" type="text/css"
            href="/thegrandlocus_theme/static/css/jquery.qtip.css" />

    <!-- extra css and others -->
    {% block head %}
    {% endblock %}

    <!-- locus-wide js formatting -->
    <script type="text/javascript">
      $(document).ready(format_theme_style);
    </script>

    {% block google-analytics %}
    {% endblock %}

  </head>

  <body {% block body_tags%}{% endblock %}>
    <a class="silent_link" href="/">
    <div id="top_banner">
      <span id="blog_name">The Grand Locus</span>
      <span id="slogan">/ {% block slogan %}A research engine{% endblock %}</span>
    </div></a>

    {% block social_networks %}{% endblock %}

    <div id="outer">
      <div id="left_column" class="main_column">
      <div id="site_specific_container" class="site_specific_class">

      {% block body %}{% endblock %}

      </div>
      </div>

      <!-- right navigation panel -->
      <div class="main_column" id="right_column">
        <p>
          <a id="thelab" class="navigation_link big_link"
              href="http://lab.thegrandlocus.com/">the Lab</a><br/>
          <a id="theteam" class="navigation_link small_link"
              href="http://lab.thegrandlocus.com/team.html">The team</a><br/>
          <a id="researchlines" class="navigation_link small_link"
              href="http://lab.thegrandlocus.com/research-lines.html">Research lines</a><br/>
          <a id="protocols" class="navigation_link small_link"
              href="http://lab.thegrandlocus.com/protocols/list.html">Protocols</a><br/>
          <a id="workwithus" class="navigation_link small_link"
              href="http://lab.thegrandlocus.com/work-with-us.html">Work with us</a><br/>
          <a id="contact" class="navigation_link small_link"
              href="http://lab.thegrandlocus.com/contact-us.html">Contact</a>
        </p>

        <p>
          <a id="theblog" class="navigation_link big_link"
              href="http://blog.thegrandlocus.com/">the Blog</a><br/>
          <a id="blogarchive" class="navigation_link small_link"
              href="http://blog.thegrandlocus.com/archive/">Archive</a><br/>
          <a id="aboutblog" class="navigation_link small_link"
              href="http://blog.thegrandlocus.com/about.html">About</a>
        </p>

        {% block section %}{% endblock %}

      </div><!-- end right_column -->
      <div id="bottom_space"></div>
    </div><!-- end outer -->

  </body>
</html>
