{% extends "base.html" %}

{% block description %}
  <meta name="description"
      content="The Filion lab - bioinformatics & molecular biology laboratory in Barcelona" />
{% endblock %}

{% block title %}Filion Lab | The Grand Locus{% endblock %}

{% block head %}

  <!-- extra css -->
  <link rel="stylesheet" type="text/css" media="screen"
      href="/thegrandlocus_theme/static/css/gal.css" />
{% endblock %}

{% block google-analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33527468-1']);
  _gaq.push(['_setDomainName', 'thegrandlocus.com']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock %}

{% block slogan %}Genome Architecture Lab{% endblock %}

{% block social_networks %}{% endblock %}

{% block section %}
        <div id="section" title="#thelab"></div>
{% endblock %}
