{% extends "lab.html" %}

{% block title %}Plasmid Collection | The Grand Locus{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" media="screen"
        href="/thegrandlocus_theme/static/css/plasmidcollection.css" />

    <script type="text/javascript"
        src="/thegrandlocus_theme/static/js/format_plascol.js"></script>
{% endblock %}

{% block slogan %}Plasmid Collection{% endblock %}

{% block section %}
        <div id="section" title="#thelab"></div>
{% endblock %}
